@import 'tailwindcss';

@theme {
  --font-sans: 'Microsoft JhengHei', 'PingFang TC', system-ui, sans-serif;

  --color-info: var(--color-blue-500);
  --color-success: var(--color-emerald-500);
  --color-warning: var(--color-yellow-500);
  --color-error: var(--color-red-500);
}

@layer base {
  html {
    @apply font-sans antialiased;
  }

  body {
    @apply min-h-screen;
    @apply bg-zinc-50 text-zinc-900;
  }
}
